.forgot-password-container {
  .forgot-password-card-container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .forgot-password-body {
      text-align: center;

      p {
        margin-top: 0;
      }
    }
  }
}
