// main button color
$buttonColor: #ff6b35;
// card color
$cardColor: #efefd0;
// card text color:
$cardTextColor: #1a659e;
// text color in gradient:
$textColor: #ffffff;
// text blur shadow:
$textShadowCard: 0 4px rgb(0 0 0 4);

