.welcome-screen {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);

  svg {
    height: 223px;
    color: white;
  }
}

.cardBody-login-button {
  height: 150px;
  display: flex;
  justify-content: center;
}

.card-container-welcome {
  .card-text-welcome-container {
    .card-text-welcome {
      font-size: 1.5rem;
      text-align: center;
    }
  }
}
