.home-welcome-header {
  padding-left: 8px;
  h1 {
    color: #ffffff;
    padding-left: 8px;
  }

  h2 {
    font-size: 2rem;
    padding-left: 8px;
    color: #ffff;
  }
}

.home-add-tub-container {
  display: flex;
  justify-content: center;
}

.home-card-container {
  display: flex;
  justify-content: center;
  height: 450px;
  align-items: center;
  position: relative;

  .learn-more-body-text {
    text-align: center;
    color: #000;

    .learn-more-button-container {
      display: flex;
      justify-content: center;
    }
  }

  .learnmore-disclaimer {
    .learnmore-text {
      color: #000;
      font-size: 0.8rem;
      text-align: center;
    }
  }
}

.current-user-welcome {
  color: white;

  .current-user-doughnut-container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 239px;
    width: 237px;
  }

  .current-user-navigation {
    display: flex;
    justify-content: space-around;

    .current-user-left-arrow,
    .current-user-right-arrow {
      display: flex;
      align-items: center;
      color: white;

      svg {
        height: 50px;
      }
    }
  }
}

.testing {
  height: 100px;
    display: flex;
    justify-content: center;
    position: relative;
    gap: 16px;
    align-items: center;
  .circle-button {
    height: 18px;
    width: 20px;
    border-radius: 50%;
    background-color: #FF6B35;
  }
}

.card-containers-reminders {
  position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
