.home-welcome-header {
  padding-left: 8px;
  h1 {
    color: #ffffff;
    padding-left: 8px;
  }

  h2 {
    font-size: 2rem;
    padding-left: 8px;
    color: #ffff;
  }
}

.home-add-tub-container {
  display: flex;
  justify-content: center;
}

.home-card-container {
  display: flex;
  justify-content: center;
  height: 450px;
  align-items: center;
  position: relative;

  .learn-more-body-text {
    text-align: center;
    color: #000;

    .learn-more-button-container {
      display: flex;
      justify-content: center;
    }
  }

  .learnmore-disclaimer {
    .learnmore-text {
      color: #000;
      font-size: 0.8rem;
      text-align: center;
    }
  }
}

.current-user-welcome {
  color: white;

  .current-user-doughnut-container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 239px;
    width: 237px;
  }

  .current-user-navigation {
    display: flex;
    justify-content: space-around;

    .current-user-left-arrow,
    .current-user-right-arrow {
      display: flex;
      align-items: center;
      color: white;

      svg {
        height: 50px;
      }
    }
  }
}

.card-containers-reminders {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .reminder-title {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .reminder-settings-container {
      display: flex;
      align-items: center;
    }
  }

  .card-reminder {
    .card-reminder-text {
      text-align: right;
      padding: 0 16px;

      .card-reminder-dosage-text {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .card-reminder-button-container {
      display: flex;
      justify-content: end;
      gap: 16px;
      padding-right: 16px;
    }
  }
}
