.navbar-container {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;

  .user-icon-container {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #d9d9d9;

    .navbar-user-icon {
      display: flex;
      justify-content: center;
      height: 50px;
      align-items: center;

      svg {
        height: 30px;
        width: 25px;
      }
    }
  }

  .notifications-settings-container {
    display: flex;

    .notifications-icon-container {
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;

      svg {
        height: 34px;
        width: 33px;
      }
    }

    .settings-icon-container {
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;

      .settings-link {
        color: white;
      }

      svg {
        height: 34px;
        width: 33px;
      }
    }
  }
}

.circle {
  background: linear-gradient(54deg, rgba(174, 190, 246, 1) 0%, rgba(174, 190, 246, 0) 100%);
    border-radius: 50%;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 20%);
    /* transform: translateY(20%); */
    overflow: hidden;
    height: 577px;
    width: 568px;
}
